.icon-grid {
  background: url( ../images/grid.png )  no-repeat 0px 50% !important;
}

.add {
  background-image: url(../../shared/icons/fam/add.gif) !important;
}

.option {
  background-image: url(../../shared/icons/fam/plugin.gif) !important;
}

.remove {
  background-image: url(../../shared/icons/fam/delete.gif) !important;
}

.save {
  background-image: url(../../shared/icons/save.gif) !important;
}

.accordion {
  background: url(../images/accordian.gif) no-repeat 0 50% !important;
}

.tabs {
  background-image: url(../images/tabs.gif) !important;
}

/* IM window icons */
.user {
  background-image: url( ../../shared/icons/fam/user.gif ) !important;
}

.user-add {
  background-image: url(../../shared/icons/fam/user_add.gif) !important;
}

.user-delete {
  background-image: url(../../shared/icons/fam/user_delete.gif) !important;
}

.connect {
  background-image: url(../../shared/icons/fam/connect.gif) !important;
}

.user-girl {
  background-image: url(../../shared/icons/fam/user_female.gif) !important;
}

.user-kid {
  background-image: url(../../shared/icons/fam/user_green.gif) !important;
}

.user-suit {
  background-image: url(../../shared/icons/fam/user_suit.gif) !important;
}