
.x-grid3-check-ro-col { 
	width:100%;
	height:16px;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent;
}

.x-grid3-check-ro-col-on {
	width:100%;height:16px;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent;
	background-image:url(images/16-em-check_16x16.png);
}


